html {
  font-size: 16px;
}
.content {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-around;
  flex-direction: row;
  margin: 2rem 2rem;
  flex: 1;
}

.content-card {
  display: flex;
  justify-content: space-around;
  align-items: center;
  background-color: whitesmoke;
  padding: 6rem 6rem;
  border: 0.25rem solid;
  border-color: #00ff00;
  border-radius: 20px;
  height: 10vh;
  width: 5vw;
  position: relative;
  max-width: 20px;
  font-family: "Alegreya Sans SC", sans-serif;
  font-size: 2rem;
  text-align: center;
  flex-wrap: wrap;
  overflow: auto;
  flex-basis: auto;
  color: black;
}

.content-card:hover {
  background: #ff1493;
  box-shadow: 2px 2px 15px 0 rgba(135, 135, 135, 0.4);
  transition: all 0.5s ease 0s;
}

.hero-section p {
  text-align: center;
  position: relative;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  color: black;
}

h1.pagetitle {
  font-family: "Share Tech Mono", monospace;
  display: flex;
  justify-content: flex-start;
  padding-left: 2rem;
  margin: 0.5rem;
}

.hero-image {
  display: flex;
  width: 100%;
  max-height: 100rem;
  object-fit: cover;
  position: sticky;
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
  position: relative;
  height: 480px;
  background-image: url("the90scassette.jpg");
  font-family: 'Monoton', cursive;
  font-size: 3rem;
}


@media screen and (max-width: 600px) {
  .hero-image {
    width: 100%;
  }
}
.writeonimage {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
}

body {
  background-color: lightpink;
  margin: 0;
}

nav {
  color: black;
  display: flex;
  justify-content: end;
  font-family: "Roboto Flex", sans-serif;
  font-size: 0.95rem;
}

nav a {
  margin: 1rem 1rem;
}

.contacting-menu {
  display: none;
  position: absolute;
  background-color: #7abac6
  ;
  min-width: 160px;
  box-shadow: 0px 8px 16px 0px rgba(0, 0, 0, 0.2);
  padding: 12px 16px;
  z-index: 1;
  border-radius: .25rem;
}

.contacting:hover .contacting-menu {
  display: block;
}

a:hover {
  font-weight: 900;
}

footer {
  position: relative;
  bottom: 0;
  width: 100%;
  text-align: center;
}

footer:hover {
  background-color: fuchsia;
}

